node_modules/
dist/
.env
*.log
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
__pycache__/
*.pyc
venv/
env/
.DS_Store
node_modules
.next
out
build
rapidresq
